<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Post</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>POST APP</h1>

  

<!--   <h2>Add a quote</h2>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>

  <div>
    <h2>Replace last quote written by Master Yoda with a quote written by Darth Vadar</h2>
    <button id="update"> Darth Vadar invades! </button>
  </div>

  <div>
    <h2>Delete Darth Vadar's first quote</h2>
    <button id="delete"> Delete first Darth Vadar quote </button>
  </div>
 -->
 <form action="/addPost" method="POST">
    <textarea rows="5" cols="100" style="font-family:verdana;" autofocus=true placeholder="Get started here...." name="PostData"></textarea>
    <button type="submit">Submit</button>
  </form>

  <script src="main.js"></script>

</body>
</html>